[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "elisp/org-reveal"]
	path = elisp/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "reveal.js-jump-plugin"]
	path = reveal.js-jump-plugin
	url = https://github.com/SethosII/reveal.js-jump-plugin.git
[submodule "docker-org-teaching-export"]
	path = docker
	url = https://gitlab.com/olberger/docker-org-teaching-export.git
